body{
  padding: 0;
  margin: 0;
}
form{
  background-color: rgb(252, 252, 252);
  margin: 0 25%;
  padding: 10% 0%;
	backdrop-filter:blur(25px);
}

.app{
    height: 100vh;
  }
  
  .login{
    height: 100vh;
    display: flex;
    color: gray;
    flex-wrap: wrap;
  }
  .loginform{
      flex: 1;
      display: flex;
      flex-direction: column;
  }

    .loginicon{
        flex: 0.5;
        padding: 100px 0px 0px 100px;
        border-radius: 30px;
    }
    .loginforms{
        flex: 3.5;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        background-color: rgba(255,255,255,0.08);
    }
    .spinner{
      display: flex;
      justify-content: center;
      margin-top: 10%;
    }

    /* body{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      font-family: 'Poppins', sans-serif;
      color: #fff;
    } */
::placeholder{
  color: rgb(168, 168, 168);
}
    .card{
      text-align: center;
      padding: 30px 20px;
      letter-spacing: 1px;
      border-radius: 25px;
    
      /* responsible for the glass effect */	
      background-color: rgba(255,255,255,0.08);
      backdrop-filter:blur(12px);
    }
    input{
        width: 300px;
        height: 30px;
        margin-bottom: 30px;
        border: none;
        outline: none;
        border-bottom: 1px double;
        font-size: 20px;
        background: none;
    }
    button{
        width: 308px;
        height: 30px;
        color: white;
        background-color: rgb(109, 109, 109);
        margin-top: -10px;
        margin-bottom: 30px;
    }
    .button-reg{
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .another{
        display: flex;
        font-size: 12px;
    }
    .visiIconForPass{
      margin-left: 15px;
    }
.listsform{
  margin-left: 4px;
  margin-top: 5px;
}

  .loginswiper{
      flex: 1;
  }
 .loginswiper img{
    width: 100%;
    height: 100%;
  }
  
  .otptextfield{
    margin-left: 4px;
    margin-top: 10px;
    background: none;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  
  @media only screen and (max-width: 1200px) {
    .loginswiper{
      display: none;
    }
  }
  @media only screen and (max-width: 650px) {
    form{
      margin: 0;
    }
  }